app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    cd ./ && make
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Vivek K B
lastUpdatedOn: 2022-09-06T06:39:37.426Z
