TF_Content: ""
TF_Repo:
  key: ballot
  title: VivekKB1410/ballot
  owner: VivekKB1410
  default_branch: main
  id: 492681531
TF_Branch: main
TF_Git_path: /
TF_Uninstall: ""
build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml

    kubectl apply -n $ROOST_NAMESPACE -f ballot/ingress.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

test: []
lastUpdatedBy: Vivek KB
lastUpdatedOn: 2022-08-04T04:50:21.919Z
