build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-01-13T13:06:13.516Z
