build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2022-12-07T11:17:06.064Z
