build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

pulumi_content: |-
  #!/bin/sh
  pulumi deploy
pulumi_git_path: ballot
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2022-11-09T11:10:36.433Z
