build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh



    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-02-24T11:27:09.677Z
